<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.5" />
    <!--1GB-->
  </system.web>
 
  <!--1GB-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  
  <connectionStrings>
    <!-- <add name="mConstr" connectionString="Data Source=192.168.0.90;Initial Catalog=moilcloud;User ID=sa;Password=1234;"/>-->
  <add name="mConstr" connectionString="Data Source=CNS\SQLEXPRESS;Initial Catalog=moilcloud;Integrated Security=True"/>
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpServer" value="smtpout.secureserver.net" />
    <add key="EnableSsl" value = "false"/>
    <add key="smtpPort" value="25"/>
    <add key="smtpUser" value="info@info.com" />
    <add key="smtpPass" value="password" />
    <add key="smsUser" value="smsuser" />
    <add key="smsPass" value="smspass" />
  </appSettings>

  <system.web>
    <authentication mode="Forms">
      <forms name="MCLOUD.ASPXAUTH" loginUrl="Default.aspx"
          protection="All" timeout="20"
         slidingExpiration="true"
         cookieless="UseDeviceProfile"
         enableCrossAppRedirects="false"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <location path="preInit">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="RefSignUp.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Signup.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Signin.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="sitemap.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="SMS.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
 <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
 </location>
  <location path="UserPage/EmailVerification.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="error.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="test.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>

