<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
  
    <add name="mConstr" connectionString="Data Source=192.168.0.90;Initial Catalog=moilcloud;User ID=sa;Password=1234;"/>

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value = "true"/>
    <add key="smtpPort" value="587"/>
    <add key="smtpUser" value="moilcloud222@gmail.com" />
    <add key="smtpPass" value="techizas1234" />
  </appSettings>

</configuration>
